/* 

to change any style, override them in this file. 
this way, the original is preserved and the changes are not destructive.

example:

if in style.css, there is a style like this:

.aclassname {
    font-size: 10px;
}

And you wanted to change the font size without affecting the style.css.
So you re-declare the css in ryan.css

.aclassname {
    font-size: 12px !important;
}

And then, git commit/push the changes, and it will reflect on the website.

If you are adding a new property to the same class, or a new property to a new class, then there is no need to declare
!important after the property.

*/

h2.title, span.sub-title, p.title {
    font-family: 'Courgette','Great Vibes', 'Open Sans', cursive !important;
} 

p.title {
    color: #221F20 !important;
    font-size: 2rem !important;
}

.myhero {
    background: url("../images/hero2.png") rgba(0, 0, 0, 0) 50% 50% !important;
    background-size:cover;
    background-blend-mode: multiply;
}

a {
    color:#221F20 !important;
    cursor:pointer;
    text-decoration:none;
 }

.content figure {
    margin-left: 0em !important;
    margin-right: 0em !important;
    text-align: center;
}

.button.is-primary {
    background-color: #5AC475 !important;
    border-color: transparent;
    color: #fff;
}   

.button.is-primary.is-hovered, .button.is-primary:hover {
    background-color: #5AC475 !important;
    border-color: transparent;
    color: #fff;
}

.content {
    background-color: #FAF8F5 !important; 
/*     background: url("../images/illustration background.png") 70px -120px; */
/*     background: url("../images/background.png") 120px 120px; */
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 0 !important;
}



    
    
